.top {
  height: 10%;
}
.middle {
  height: 65%;
}
.bottom {
  height: 25%;
}

.list {
  overflow: scroll;
  padding: 2rem;
  /* border: solid 1px; */
  border-radius: 16px;
  background-color: #ffc7c7;
}
.listItem {
  margin-bottom: 3rem;
}
